{% extends 'layout.html' %}
{% block content %}
       <h1 style="color:#FFFFFF";>PawPaw's About Page</h1>
       <p style="color:#FFFFFF";>Pawpaw's official day job is an Azure Solution Architect for a large transshipment company. As a solution architect, he constantly keeps himself updated with the latest news from Cloud and tech domains.
              To him, knowledge is power and there is never wasted knowledge. Recently, he picked up coding in Python and with the help of online guides, created this website using Flask.
              During his free time, he likes to indulge himself in games and photography.</p>
{% endblock content %}